body {
  background-image: url("https://wallpaperaccess.com/full/1488037.jpg");
}
.square {
  padding: 10px;
  margin: 10px;
  background-color: white;
  display: inline-block;
  height: 30px;
  width: 20px;
  border-radius: 5px;
  vertical-align: top;
}

.container {
  margin: auto;
  justify-content: center;
  align-items: center;
  margin-top: 15%;
  margin-left: 48%;
  color: solid black;
  font-family: monospace;
  width: 20px;
  height: 100px;
  display: flex;
}

#header {
  margin-left: 73px;
}

.red {
  color: red;
}

.black {
  color: black;
}

.timer {
  color: solid black;
  font-size: 30px;
  margin-left: 100px;
}

.start-button {
  font-family: monospace;
  height: 30px;
  width: 100px;
  border-radius: 5px;
  margin: auto;
  justify-content: center;
  align-items: center;
}
h2 {
  margin-left: 50px;
}

.start-stop {
  color: solid black;

  font-family: monospace;
  margin: 1px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  font-size: 13px;
  margin-top: 6px;
  margin-right: 18px;
  margin-left: 10px;
}

.reset-lap {
  color: solid black;
  font-family: monospace;
  margin: 1px;
  margin-bottom: 3px;
  display: flex;
  border-radius: 5px;
  text-align: center;
  font-size: 13px;
  margin-left: 10px;
}

.time-data {
  font-family: monospace;
  width: 70px;
  height: 105px;
  border-radius: 2px;
  background-color: whitesmoke;
  text-align: center;
}
.elapsed-time {
  font-size: 20px;
  font-family: monospace;
  width: 144px;
  height: 23px;
  border-radius: 2px;
  text-align: center;
  margin-left: 4px;
  background-color: whitesmoke;
}

.start-timer {
  color: solid black;
  text-align: center;
  font-family: monospace;
  height: 20px;
  width: 144px;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
  margin-left: 4px;
}

.inner-container {
  display: flex;
}

#reset-button {
  margin-left: 10px;
  margin-right: 18px;
}

#lap-button {
  width: 44px;
}

.board {
  margin: auto;
  justify-content: center;
  align-items: center;
  margin-top: 1%;
  margin-left: 41.5%;
}

#timer {
  font-size: 20px;
  background-color: whitesmoke;
  width: 233px;
  height: 25px;
  border-radius: 10px;
  text-align: center;
}
